@use "../components/button";

.banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6;

  .position {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(234, 234, 234);
    gap: 10px;
    i {
      color: black;
      &:hover {
        color: #9356dc;
      }
    }
    input {
      background-color: rgb(234, 234, 234);
      border: none;
      width: 150px;
      &::placeholder {
        font-size: 20px;
      }
    }
  }
  div {
    padding: 3%;
    p {
      color: grey;
      font-size: 20px;
    }
  }
}
