@use "../components/card";

.cardHolder {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 3%;
  .container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media (max-width: 950px) {
  .cardHolder {
    background-color: #f0f0f0;
    justify-content: left;
    padding: 0 5%;

    .container {
      flex-flow: row wrap;
    }
    footer {
      margin-top: 30%;
      div {
        align-items: baseline;
      }
    }
  }
}

@media (max-width: 600px) {
  .cardHolder {
    margin-bottom: 10px;
    .container {
      flex-flow: column;
    }
    footer {
      margin-top: 30%;
      div {
        align-items: baseline;
      }
    }
  }
}
