@use "../components/step";

.stepHolder {
  display: flex;
  flex-flow: column;
  .stepContainer {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px;
  }
}
