@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

@keyframes txt {
  0% {
    content: "LOADING";
  }
  40% {
    content: "LOADING.";
  }

  60% {
    content: "LOADING..";
  }
  100% {
    content: "LOADING...";
  }
}

@keyframes loaded {
  0% {
    opacity: 100%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes contentLoaded {
  0% {
    opacity: 0%;
  }
  70% {
    opacity: 1%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes rise {
  from {
    margin-top: 90%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}
@keyframes selected {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes like {
  0% {
    background: #f0f0f0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: none;
  }
  30% {
    background: -webkit-linear-gradient(90deg, #ff79da, #f0f0f0, #f0f0f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: none;
  }
  50% {
    background: -webkit-linear-gradient(90deg, #ff79da, #f0f0f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: none;
  }
  70% {
    background: -webkit-linear-gradient(90deg, #ff79da, #9356dc, #f0f0f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: none;
  }
  100% {
    background: -webkit-linear-gradient(90deg, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #f0f0f0;
  }
}
@keyframes btn-hover {
  0% {
    background-image: linear-gradient(#ff79da, #9356dc);
    box-shadow: 0px 7px 10px rgb(180, 178, 178);
  }
  50% {
    background-image: linear-gradient(#ff79da, #ff79da, #9356dc);
    box-shadow: 0px 7px 15px rgb(176, 176, 176);
  }
  100% {
    background-image: linear-gradient(#ff79da, #ff79da);
    box-shadow: 0px 7px 20px rgb(145, 145, 145);
  }
}
