a {
  width: 40%;
  text-decoration: none;
  position: relative;
  padding: 3%;
  transition: ease-in-out 0.3s;
  &:hover {
    transform: scale(1.02);
    z-index: 1;
  }

  span {
    position: absolute;
    right: 10%;
    top: 10%;
    background-color: #99e2d0;
    width: 100px;
    margin-top: 3%;
    text-align: center;
    color: #0d8f6f;
    z-index: 5;
    border-radius: 4px;
    padding: 7px 1px;
  }
  .card {
    display: flex;
    flex-flow: row wrap;

    box-shadow: 0px 10px 10px lightgrey;
    border-radius: 20px;

    img {
      width: 100%;
      height: 250px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      object-fit: cover;
    }
    .cardContent {
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text {
        display: flex;
        flex-direction: column;
        color: black;
        &:hover {
          color: #9356dc;
        }

        .title {
          font-weight: bold;
        }
        p {
          margin: 5px 5px 5px 5px;
        }
      }
      i {
        -webkit-text-stroke: 1px black;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        line-height: 1;
        opacity: 1;

        &:hover {
          animation: like 0.4s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  a {
    margin: 10px 0;
  }
}
@media (max-width: 600px) {
  a {
    width: 100%;
    padding: 0;
    span {
      right: 5%;
      top: 5%;
    }
  }
}
