header {
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  img {
    width: 200px;
  }
  a {
    position: absolute;
    left: 20px;
    color: black;
    &:hover {
      color: #9356dc;
    }
  }
}
